.ball {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
}