.balls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.button {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #323131;
}

.button:hover {
    background-color: #fa0000;
    color: #fbf9f9;
}
